.navbar__list {
  display: block;
  list-style: none;
}
.navbar__item {
  width: 33.33333%;
  float: left;
  text-align: center;
  display: block;
}
.container {
  max-width: 1200px;
  display: block;
}
.row {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  float: left;
  padding: 0 15px;
}
